

.user-table {
    position: relative;
    border: 5px solid black;
    color: white;
    font-size: 20px;
    top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 30px;
  }
  .user-table th,
  .user-table td {
    background-color: white;
    color: black;
  }
  .user-table input[type="text"],
  .user-table input[type="password"] {
    margin: 0;
    width: 90%;
    border: 2px solid black;
    font-size: 18px;
    outline: none;
  }